@import "@webpixels/css";
@import url("http://fonts.cdnfonts.com/css/playfair-display");
@import url("http://fonts.cdnfonts.com/css/inter");

$enable-negative-margins: true; // NAVBAR

/*********************************************/
/*          Style setup         */
/*********************************************/

$primary-100: #faf7ee;
$primary-400: #ceaa54;
$primary-600: #93742a;
$secondary-100: #d2d2d2;
$secondary-400: #403e3e;
$secondary-600: #0d0d0d;
$tertiary-400: #f1ebe5;
$stars-color: #eab308;
$default-button: #fafafa;

body {
  font-family: "Inter", sans-serif;
}

/*********************************************/
/*          NAVBAR         */
/*********************************************/
nav {
  background-color: #ffffff;
  box-shadow: 0px 4px 32px -11px rgba(0, 0, 0, 0.25);
  .logo-text {
    font-family: "Playfair Display", sans-serif;
    font-size: 1.513125rem;
    text-transform: uppercase;
    color: #000000;
    .description-text {
      color: #202020;
      font-size: 0.85875rem;
      font-family: "Inter", sans-serif;
      font-weight: 300;
    }
  }
  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-brand img {
      height: 65px !important;
    }
  }
  .logo {
    height: 65px !important;
    width: 65px !important;
  }
  .nav-button:focus,
  .nav-button:hover {
    background-color: #faf7ee !important;
  }
  .nav-dropdown {
    background-color: #faf7ee;
  }
  .navbar-nav,
  .nav-link,
  .dropdown-item {
    color: #838383;
    font-size: 0.9375rem !important;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(131, 131, 131)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .nav-link:hover,
  .nav-link:focus {
    color: #666666;
  }
  .btn {
    background-color: #ceaa54;
    color: #ffffff;
    font-size: 0.9375rem !important;
  }
}
section {
  padding-bottom: 60px;
}

/*********************************************/
/*          HOME PAGE         */
/*********************************************/
.header-title {
  color: $secondary-400;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 3.8144125rem;
  line-height: 5.0625rem;
  max-width: 19ch;
}
.header-subtitle {
  color: $primary-400;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.09050625rem;
  line-height: 1.3125rem;
  max-width: 47ch;
}
.title {
  font-family: "Playfair Display", sans-serif;
  color: #403e3e;
  font-size: 2.38125rem;
}
.subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: rgb($secondary-400, 0.85);
  font-size: 1.31875rem;
  max-width: 55ch;
  text-align: center;
}
section.home-header {
  .header {
    color: #faf7ee;
    .home-title {
      color: #faf7ee;
      font-size: 2.875rem;
    }
    .home-description {
      color: #faf7ee;
      font-size: 1.125rem;
    }
    .header-buttom {
      background-color: #403e3e;
      color: #fafafa;
      font-size: 0.9375rem !important;
    }
    .header-buttom-secondary {
      background-color: #f1ebe5;
      color: #403e3e;
      font-size: 0.9375rem !important;
    }
  }
}
section.home-meet {
  background: linear-gradient(
    180deg,
    rgba(206, 170, 84, 0.1) 75%,
    rgba(206, 170, 84, 0) 100%
  );
  .content {
    font-family: "Inter", sans-serif;
    color: rgba(64, 62, 62, 0.85);
    font-size: 1.31875rem;
  }
  .about-box {
    background: #ffffff;
    box-shadow: 0px 0px 81px -25px rgba(0, 0, 0, 0.25);
    font-family: "Inter";
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 300;
    border-right: $primary-400 solid 6px;
    p {
      max-width: 58ch;
    }
    // READ MORE BUTTON
    a {
      color: $primary-400;
      background-color: rgba($primary-400, 0.1);
    }
  }
  @include media-breakpoint-down(lg) {
    .about-box {
      font-size: 1.074375rem;
    }
  }
  @include media-breakpoint-down(sm) {
    .about-box {
      border-right: none;
    }
  }
  .main-title {
    overflow: hidden;
    text-align: center;
  }
  .main-title:before,
  .main-title:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 20%;
  }
  .main-title:before {
    right: 0.5em;
    margin-left: -50%;
  }
  .main-title:after {
    left: 0.5em;
    margin-right: -50%;
  }
}

section.home-experience {
  background-color: white;
  .card-testimonial {
    background: #faf7ee;
    border: 1px solid #d2d2d2;
    box-sizing: border-box;
    box-shadow: 3px 4px 25px -14px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    .card-body {
      font-family: "Playfair Display", serif;
      font-weight: 400;
      font-size: 1.186875rem;
      color: $secondary-400;
    }
    .card-footer {
      font-family: "Inter", sans-serif;
      font-weight: 300;
      font-size: 1.31875rem;
      color: rgba($secondary-400, 0.85);
      .experience-star {
        color: $stars-color;
      }
    }
  }
  .my-swiper {
    width: 95%;
  }
  .swiper-container {
    width: 95%;
  }
}

section.home-google-review {
  background-color: rgba($primary-400, 0.1);
  p {
    color: rgba($secondary-400, 0.85);
    font-size: 1.756875rem;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    max-width: 32ch;
  }
  a {
    color: $primary-400;
    font-size: 1.756875rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }
}

section.home-services {
  .card {
    box-shadow: 0px 0px 31px -7px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    .card-title {
      font-size: 1.77rem;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      color: $secondary-400;
    }
  }
  .link {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 1.31870625rem;
    text-decoration: underline;
    color: $primary-400;
  }
}

section.home-first-time-buyer {
  .inside-container {
    background-color: rgba($primary-400, 0.1);
    .link {
      color: $default-button;
      font-size: 0.9375rem;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      background-color: $primary-400;
    }
  }
}

$breakpoint-tablet: 768px;
$breakpoint-mobile: 640px;
section.home-qanda {
  .link {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 1.31870625rem;
    text-decoration: underline;
    color: $primary-400;
  }
  .qanda {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: rgb($secondary-400, 0.85);
    font-size: 1.31875rem;
    max-width: 52ch;
    text-align: center;
    @media (max-width: $breakpoint-mobile) {
      font-size: 0.94375rem;
    }
  }

  .accordion-item {
    background-color: $primary-100;
  }
}

section.home-request {
  .container-request {
    background-color: $primary-100;
  }
  .subtitle {
    font-size: 1.63125rem;
    max-width: 24ch;
  }
  .form-control {
    font-size: 1.31875rem;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: $secondary-400;
    box-shadow: 3px 4px 4px -2px rgba(0, 0, 0, 0.06);
  }
  .link {
    color: $default-button;
    font-size: 1.31875rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    background-color: $primary-400;
  }
}

/*********************************************/
/*          FOOTER         */
/*********************************************/
section.footer {
  background-color: $primary-100;
  color: $secondary-400;
  .logo-text {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 1.51340625rem;
  }
  .description-text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 0.85905625rem;
  }
  .cite {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 0.9375rem;
    max-width: 31ch;
  }
  .footer-icon {
    color: $primary-400;
  }
  .remax-text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.1866375rem;
  }
  .footer-address {
    max-width: 25ch;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 0.9375rem;
  }
  .header {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
  }
  .footer-link {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 0.9375rem;
  }
  .footer-name {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
  }
  .footer-mls {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 0.625rem;
  }
}

/*********************************************/
/*          BUYERS PAGE         */
/*********************************************/

section.buyers-header {
  background-color: $primary-100;
  .link {
    color: $default-button;
    font-size: 0.9375rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    background-color: $primary-400;
  }
}

.card {
  background-color: $primary-100;
  border: 1px solid #d2d2d2;
  box-sizing: border-box;
  box-shadow: 3px 4px 25px -14px rgba(0, 0, 0, 0.25);
  border-radius: 1px;
}
.card-header {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 1.47rem;
  color: $secondary-400;
  line-height: 31px;
  vertical-align: middle;
}
.card-number {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 161.494px;
  line-height: 140px;
  color: rgba(206, 170, 84, 0.15);
}

.card-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.153125rem;
  color: $primary-400;
}

.card-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 0.91518125rem;
  color: rgba($secondary-400, 0.85);
}
.uppertitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.284rem;
  text-transform: uppercase;
  color: $primary-400;
}
.white-card-body {
  background: #ffffff;
  box-shadow: 0px 0px 26.9211px -6.07895px rgba(0, 0, 0, 0.25);
  border-radius: 0.868421px;
}

.banner {
  background-color: $primary-100;
  color: $primary-400;
}

.banner-text {
  color: $primary-400;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  max-width: 60ch;
  text-align: center;
}
.phase-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 1.2407375rem;
  line-height: 1.5rem;

  color: rgba($secondary-400, 0.85);
}

section.buyers-request {
  border-top: 1.5px dashed $primary-400;
  .container-request {
    background-color: $primary-100;
  }
  .subtitle {
    font-size: 1.63125rem;
    max-width: 37ch;
  }
  .title {
    max-width: 20ch;
  }
  .form-control {
    font-size: 1.31875rem;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: $secondary-400;
    box-shadow: 3px 4px 4px -2px rgba(0, 0, 0, 0.06);
  }
  .link {
    color: $default-button;
    font-size: 1.31875rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    background-color: $primary-400;
  }
}

.card-link {
  background: $primary-400;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.10545625rem;
  text-align: center;

  color: #ffffff;
}

.big-number {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 3.61661875rem;
  color: $primary-400;
}
.banner-shadow {
  background: #ffffff;
  box-shadow: 0px 0px 26.9211px -6.07895px rgba(0, 0, 0, 0.25);
  border-radius: 0.868421px;
}

.seller-swiper-card {
  position: relative;
}

// .seller-body {
.seller-card-number {
  position: absolute;
  top: 10px;
  left: 10px;
}
.seller-card-number-static {
  position: absolute;
  top: -20px;
  left: 10px;
}

////////////////////////////////
//        FLIPCARD PAGE      //
///////////////////////////////

.flipcard-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flipcard {
  width: 396px !important;
  height: 403px;
  margin: 1em;
  perspective: 1500px;

  .flipcard-content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s cubic-bezier(0.75, 0, 0.85, 1);
  }
}
.flipcard-mobile {
  width: 100%;
  height: 403px;
  margin: 1em;
  perspective: 1500px;

  .flipcard-content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s cubic-bezier(0.75, 0, 0.85, 1);
  }
}

.flipcard-flipback {
  display: none;

  &:checked ~ .flipcard-content {
    transform: rotateY(180deg);
  }
}

.flipcard-front,
.flipcard-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  background: $primary-100;
  border: 1px solid #d2d2d2;
  box-sizing: border-box;
  box-shadow: 3px 4px 25px -14px rgba(0, 0, 0, 0.25);
  border-radius: 1px;

  .flipcard-inner {
    height: 100%;
    display: grid;
    padding: 0em;
    transform: translateZ(1px);
  }
}

.flipcard-front {
  text-align: center;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    backface-visibility: hidden;
  }
  .flipcard-inner {
    grid-template-rows: 4fr 0fr 5fr 0fr -1fr;
    justify-items: center;
  }
}

.flipcard-back {
  transform: rotateY(180deg);
  background-color: $primary-100;
  text-align: center;

  .flipcard-inner {
    justify-items: center;
  }
}

.flipcard-button {
  width: 90%;
  cursor: pointer;
  backface-visibility: hidden;
  transition: 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
  }
}
.flipcard-image {
  height: 100%;
  width: 100%;
}
